<% include ../partials/header %>

<div class="row">
    <h1 style="text-align:center;"> Edition du symptôme </h1>
    <h3 style="text-align:center;"><a> Intitulé : </a> <%=symptome.name%></h3>
    <div style="width: 30%; margin: 20px auto;">
        <form id="edit" action="/symptomes/<%=symptome._id%>" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Intitulé</label>
                <input class="form-control" type="text"  name="name" value="<%=symptome.name%>" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" type="text" name="description"><%=symptome.description%></textarea>
            </div>
            <label for="name">Liste des problèmes affectés à ce symptôme : </label>
            <br>
            <!-- Edition -->
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"> Dérouler <span class="glyphicon glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
            </a>
            <br>
            <p></p>
            <div class="collapse" id="collapseExample">
            <ol>
                <% symptome.problemes.forEach(function(probleme){ %>
                <li>
                <select>
                <option> Intitulé : (<%=probleme.name%>)</option><br>
                </select><br>
                 <p></p>
                <a href="/problemes/<%= probleme._id %>" class="btn btn-xs btn-success"> Consulter <span class="glyphicon glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                <a href="/problemes/<%= probleme._id %>/edit" class="btn btn-xs btn-warning"> Mettre à jour <span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                <p></p>
                </li>
                <% }); %>
            </ol>
            </div>
            <!-- Fin mise à jour-->

            <label for="name">Ajouter des problèmes existants</label>
            <br>
            <!-- Edition -->
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">Dérouler<span class="glyphicon glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
            </a>
            <br>
            <p></p>
            <div class="collapse" id="collapseExample2">
                <% let tab = []; %>
                <% symptome.problemes.forEach(function(prb){ %>
                    <% tab.push(prb._id.toString()); %>
                <% });%>

                <select class="select" multiple data-mdb-placeholder="Example placeholder"   name="prblms" multiple>
                    <optgroup>
                        <% problemes.forEach(function(probleme){ %>
                            <% if(tab.includes(probleme._id.toString())){ %>
                            <option value="<%=probleme._id%>" name="option" selected> Intitulé : (<%=probleme.name%>)</option>
                            <% }else{ %>
                            <option value="<%=probleme._id%>" name="option" > Intitulé : (<%=probleme.name%>)</option>
                            <% } %>

                        <% }); %>
                    </optgroup>
                </select>

            </div>
            <p></p>
            <label for="name">Problème non-existant ?, ajouter un nouveau problème</label>
            <p></p>
            <a href="/problemes/new" class="btn btn-success"> Ajouter un nouveau problème <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span></a>
            <p></p>
            <div class="form-group">
                <button class="btn btn-warning btn-block" type="submit" form="edit"> Mise à jour <span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span></button>
            </div>
        </form>
        <a href="/symptomes">Retour aux symptômes</a>
    </div>
</div>

<% include ../partials/footer %>
