<% include ../partials/header %>

<div class="row">
    <h1 style="text-align:center;">Edition d'utilisateur </h1>
    <h1 style="text-align:center;">Nom d'utilisateur : <a><%=user.username%></a></h1>
    <div style="width: 30%; margin: 20px auto;">
        <form id="edit" action="/users/<%=user._id%>" method="POST" enctype="multipart/form-data">

            <div class="form-group">
                <label for="avatar">Avatar</label>
                <input class="form-control" type="file" id="avatar" name="avatar" accept="image/*">
            </div>

            <div class="form-group">
                <label for="username">Nom d'utilisateur</label>
                <input class="form-control" type="text" value="<%=user.username%>" name="username"  required>

            </div>

            <div class="form-group">
                <label for="firstname">Prénom</label>
                <input class="form-control" type="text" value="<%=user.firstname%>" name="firstname"  required>
            </div>

            <div class="form-group">
                <label for="lastname">Nom</label>
                <input class="form-control" type="text" value="<%=user.lastname%>" name="lastname"  required>
            </div>

            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input class="form-control" type="password" value="<%=user.password%>" name="password"  required>
            </div>

            <div class="form-group">
                <label for="email">E-mail</label>
                <input class="form-control" type="email" value="<%=user.email%>" name="email"  required>
            </div>

            <div class="form-group">
                <label for="publication">Rôle</label><br>
                <a class="btn btn-success btn-xs"  data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2"> Dérouler <span class="glyphicon glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                 </a>
                 <br>
                 <p></p>
                 <div class="collapse" id="collapseExample2">
                   <ul>
                    <li>
                    <label for="publication">Utilisateur  </label>
                    <% if(user.role =="utilisateur") {%>
                        <input class="form-check-input" type="radio" name="role" checked="" value="utilisateur">
                    <% }else{ %>
                        <input class="form-check-input" type="radio" name="role" value="utilisateur">
                    <%}%>
                    </li>
                    <li>
                    <label for="publication">Agent  </label>
                    <% if(user.role =="agent") {%>
                        <input class="form-check-input" type="radio" name="role" checked="" value="agent">
                    <% }else{ %>
                        <input class="form-check-input" type="radio" name="role" value="agent">
                    <%}%>
                    </li>
                    <li>
                    <label for="publication">Admin  </label>
                    <% if(user.role =="admin") {%>
                        <input class="form-check-input" type="radio" name="role" checked="" value="admin">
                    <% }else{ %>
                        <input class="form-check-input" type="radio" name="role" value="admin">
                    <%}%>
                    </li>
                   </ul>
                </div>
            </div>
            <p></p>
            <div class="form-group">
                <button class="btn btn-warning btn-block" type="submit" form="edit"> Mise à jour <span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span></button>
            </div>
        </form>
        <a href="/users">Retour aux utilisateurs</a>
    </div>
</div>

<% include ../partials/footer %>
