<%- include('../partials/header') -%>

<div class="thumbnail">
    <div class="container p-3 my-3 border">
        <h1>
            <div class="pull-right">
                <% if(user.avatar!=""){ %>
                <img src="<%= user.avatar %>" class="img-circle" alt="Avatar" width="250" height="236"><br>
                <% } %>
            </div>
            <br>
            <h4>Nom d'utilisateur <a><%= user.username %></a></h4>
            <h4>Prénom <a><%= user.firstname %></a></h4>
            <h4>Nom <a><%= user.lastname %></a></h4>
            <h4>E-mail <a><%= user.email %></a></h4>
            <h4>Téléphone <a><%= user.phone_number %></a></h4>
            <h4>Rôle <a><%= user.role %></a></h4>
            <div class="btn">
                <a type="button" class="btn btn-warning" href="/users/<%= user._id %>/edit">
                    <span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span> Editer
                </a>
            </div>

            <p>
                <form id="inline" method="POST" action="/users/<%= user._id %>?_method=DELETE">
                    <button class="btn btn-danger">
                        <span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span> Supprimer
                    </button>
                </form>
            </p>
        </h1>
    </div>

    <div class="container p-3 my-3 border">
        <% if(terminals.length != 0) { %>
        <h3>Liste des bornes</h3>
        <% } %>
    </div>

    <div class="container p-3 my-3 bg-primary text-white">
        <div class="row text-center" style="display:flex; flex-wrap: wrap">
            <% terminals.forEach(terminal => { %>

            <div class="col-lg-3 col-md-4 col-sm-6">

                <% if (terminal.image.length === 3) { %>
                    <div class="thumbnail">
                        <a style="margin-top:5px;" class="btn btn-primary" data-toggle="collapse" href="#collapseExample3<%=terminal._id%>" role="button" aria-expanded="false" aria-controls="collapseExample">Apperçu de la borne<span class="glyphicon glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </a>
                        <br>
                        <p></p>
                        <div class="collapse" id="collapseExample3<%=terminal._id%>">
                            <div id="carousel-example-generic3<%=terminal._id%>" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic3<%=terminal._id%>" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-generic3<%=terminal._id%>" data-slide-to="1"></li>
                                    <li data-target="#carousel-example-generic3<%=terminal._id%>" data-slide-to="2"></li>
                                </ol>

                                <!-- Wrapper for slides -->
                                <div style="max-height:200px;min-height:200px" class="carousel-inner" role="listbox">
                                    <div class="item active fixed-height">
                                        <img src="<%= terminal.image[0] %>" alt="image 1">
                                        <div class="carousel-caption">
                                        </div>
                                    </div>
                                    <div class="item fixed-height">
                                        <img src="<%= terminal.image[1] %>" alt="image 2">
                                        <div class="carousel-caption">
                                        </div>
                                    </div>
                                    <div class="item fixed-height">
                                        <img src="<%= terminal.image[2] %>" alt="image 3">
                                        <div class="carousel-caption">
                                        </div>
                                    </div>
                                </div>

                                <!-- Controls -->
                                <a class="left carousel-control" href="#carousel-example-generic3<%=terminal._id%>" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Première</span>
                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic3<%=terminal._id%>" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Dernière</span>
                                </a>
                            </div>
                        </div>

                        <div class="caption">
                            <h4> Identifiant <br>
                                <a><%= terminal.identifiant %></a>
                            </h4>
                            <h4> Adresse <br>
                                <a><%= terminal.address %></a>
                            </h4>
                            <h4> Statut <br>
                                <a><%= terminal.status %></a>
                            </h4>
                            <p>
                                <a href="/terminals/<%= terminal._id %>" class="btn btn-success">Plus d'infos</a>
                            </p>
                        </div>
                    </div>
                <% } else if (terminal.image.length === 2) { %>
                    <div class="thumbnail">
                        <a style="margin-top:5px;" class="btn btn-primary" data-toggle="collapse" href="#collapseExample2<%=terminal._id%>" role="button" aria-expanded="false" aria-controls="collapseExample">Apperçu de la borne  <span class="glyphicon glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </a>
                        <br>
                        <p></p>
                        <div class="collapse" id="collapseExample2<%=terminal._id%>">
                            <div id="carousel-example-generic2<%=terminal._id%>" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic2<%=terminal._id%>" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-generic2<%=terminal._id%>" data-slide-to="1"></li>
                                </ol>
                                <!-- Wrapper for slides -->
                                <div style="max-height:200px;min-height:200px" class="carousel-inner" role="listbox">
                                    <div class="item active fixed-height">
                                        <img src="<%= terminal.image[0] %>" alt="image 1">
                                        <div class="carousel-caption">
                                        </div>
                                    </div>
                                    <div class="item fixed-height">
                                        <img src="<%= terminal.image[1] %>" alt="image 2">
                                        <div class="carousel-caption">
                                        </div>
                                    </div>
                                </div>
                                <!-- Controls -->
                                <a class="left carousel-control" href="#carousel-example-generic2<%=terminal._id%>" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Première</span>
                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic2<%=terminal._id%>" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Dernière</span>
                                </a>
                            </div>
                        </div>
                        <div class="caption">
                            <h4> Identifiant <br>
                                <a><%= terminal.identifiant %></a>
                            </h4>
                            <h4> Adresse <br>
                                <a><%= terminal.address %></a>
                            </h4>
                            <h4> Statut <br>
                                <a><%= terminal.status %></a>
                            </h4>
                            <p>
                                <a href="/terminals/<%= terminal._id %>" class="btn btn-success">Plus d'infos</a>
                            </p>
                        </div>
                    </div>
                <% } else if (terminal.image.length === 1) { %>
                    <div class="thumbnail">
                        <a style="margin-top:5px;" class="btn btn-primary" data-toggle="collapse" href="#collapseExample1<%=terminal._id%>" role="button" aria-expanded="false" aria-controls="collapseExample">Apperçu de la borne  <span class="glyphicon glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </a>
                        <br>
                        <p></p>
                        <div class="collapse" id="collapseExample1<%=terminal._id%>">
                            <div id="carousel-example-generic1<%=terminal._id%>" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic1<%=terminal._id%>" data-slide-to="0" class="active"></li>
                                </ol>
                                <!-- Wrapper for slides -->
                                <div style="max-height:200px;min-height:200px" class="carousel-inner" role="listbox">
                                    <div class="item active fixed-height">
                                        <img src="<%= terminal.image[0] %>" alt="image 1">
                                        <div class="carousel-caption">
                                        </div>
                                    </div>
                                </div>
                                <!-- Controls -->
                                <a class="left carousel-control" href="#carousel-example-generic1<%=terminal._id%>" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Prmière</span>
                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic1<%=terminal._id%>" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Dernière</span>
                                </a>
                            </div>
                        </div>
                        <div class="caption">
                            <h4> Identifiant <br>
                                <a><%= terminal.identifiant %></a>
                            </h4>
                            <h4> Adresse <br>
                                <a><%= terminal.address %></a>
                            </h4>
                            <h4> Statut <br>
                                <a><%= terminal.status %></a>
                            </h4>
                            <p>
                                <a href="/terminals/<%= terminal._id %>" class="btn btn-success">Plus d'infos</a>
                            </p>
                        </div>
                    </div>
                <% } else { %>
                    <div class="thumbnail">
                        <div class="caption">
                            <h4> Identifiant <br>
                                <a><%= terminal.identifiant %></a>
                            </h4>
                            <h4> Adresse <br>
                                <a><%= terminal.address %></a>
                            </h4>
                            <h4> Statut <br>
                                <a><%= terminal.status %></a>
                            </h4>
                            <p>
                                <a href="/terminals/<%= terminal._id %>" class="btn btn-success">Plus d'infos</a>
                            </p>
                        </div>
                    </div>
                <% } %>

            </div>

            <% }); %>

        </div>

    </div>
</div>

<%- include('../partials/footer') -%>
