<% include ../partials/header %>

<div class="row">
    <h1 style="text-align:center;"> Edition du plan de tests </h1>
    <h3 style="text-align:center;"><a> Intitulé : </a> <%=plant.name%></h3>
    <div style="width: 30%; margin: 20px auto;">
        <form id="edit" action="/plants/<%=plant._id%>" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Intitulé</label>
                <input class="form-control" type="text"  name="name" value="<%=plant.name%>" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" type="text" name="description"><%=plant.description%></textarea>
            </div>
            <label for="name">Liste des tests affectés à ce plan de tests : </label>
            <br>
            <!-- Edition -->
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"> Dérouler <span class="glyphicon glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
            </a>
            <br>
            <p></p>
            <div class="collapse" id="collapseExample">
            <ol>
                <% plant.tests.forEach(function(test){ %>
                <li>
                <select>
                <option> Intitulé : (<%=test.name%>)</option><br>
                </select><br>
                 <p></p>
                <a href="/tests/<%= test._id %>" class="btn btn-xs btn-success"> Consulter <span class="glyphicon glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                <a href="/tests/<%= test._id %>/edit" class="btn btn-xs btn-warning"> Mettre à jour <span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                <p></p>
                </li>
                <% }); %>
            </ol>
            </div>
            <!-- Fin mise à jour-->

            <label for="name">Ajouter des tests existants</label>
            <br>
            <!-- Edition -->
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">Dérouler<span class="glyphicon glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a>
            <br>
            <p></p>
            <div class="collapse" id="collapseExample2">
                <% let tab = []; %>
                <% plant.tests.forEach(function(tst){ %>
                    <% tab.push(tst._id.toString()); %>
                <% });%>

                <select class="select" multiple data-mdb-placeholder="Example placeholder"  name="tests" multiple>
                    <optgroup>
                        <% tests.forEach(function(test){ %>
                            <% if(tab.includes(test._id.toString())){ %>
                            <option value="<%=test._id%>" name="option" selected> Intitulé : (<%=test.name%>)</option>
                            <% }else{ %>
                            <option value="<%=test._id%>" name="option" > Intitulé : (<%=test.name%>)</option>
                            <% } %>

                        <% }); %>
                    </optgroup>
                </select>
            </div>
            <p></p>
            <label for="name">Test non-existant ?, ajouter un nouveau test</label>
            <p></p>
            <a href="/tests/new" class="btn btn-success"> Ajouter un nouveau test <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span></a>
            <p></p>
            <div class="form-group">
                <button class="btn btn-warning btn-block" type="submit" form="edit"> Mise à jour <span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span></button>
            </div>
        </form>
        <a href="/plants">Retour aux plans de tests</a>
    </div>
</div>

<% include ../partials/footer %>
