
<% include ../partials/header %>

<div class="row">
    <div class="center">
    <h1 style="text-align:center;"> Edition d'analyse  </h1>
    <h3 style="text-align:center;"><a> Intitulé : </a><%=campagne.name%> </h3>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">Plus <span class="glyphicon glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
    </a>
    <br>
    <p></p>
    <div class="collapse" id="collapseExample3">
    <h3 style="text-align:center;"><a> IMEI du produit associé  : </a><%=campagne.produit.imei%> </h3>
    </div>
    </div>
    <div style="width: 30%; margin: 20px auto;">
        <form action="/campagnes/<%=campagne._id%>/?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Intitulé</label>
                <input class="form-control" type="text"  name="name" value="<%=campagne.name%>" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" type="text" name="description"><%=campagne.description%></textarea>
            </div>
            <!-- Produit à analyser -->
            <label for="name">Modifier le produit à analyser</label>
            <select class="form-control" type="text" data-style="btn-info" name="prod">
                <optgroup>
                    <% produits.forEach(function(produit){ %>
                    <% if(produit.imei = campagne.imei){ %>
                        <option value="<%=produit._id%>" name="option" selected> IMEI : (<%=produit.imei%>) - Intitulé : (<%=produit.name%>) </option>
                    <% }else{ %>
                        <option value="<%=produit._id%>" name="option"> IMEI : (<%=produit.imei%>) - Intitulé : (<%=produit.name%>) </option>
                    <% } %>
                    <% }); %>
                </optgroup>
            </select>
            <p></p>
            <label for="name">Produit non-existant ?, ajouter un nouveau produit</label>
            <a href="/produits/new" class="btn btn-success"> Ajouter un nouveau produit <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span></a>
            <p></p>
            <label for="name">Liste des symptômes affectés à cette analyse : </label>
            <br>
            <!-- Edition -->
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Dérouler<span class="glyphicon glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
            </a>
            <br>
            <p></p>
            <div class="collapse" id="collapseExample">
                <ol>
                    <% campagne.symptomes.forEach(function(symptome){ %>
                    <li>
                        <select>
                            <option>Intitulé : (<%=symptome.name%>) </option>
                        </select>
                        <p></p>
                        <a href="/symptomes/<%= symptome._id %>" class="btn btn-xs btn-success">Consulter<span class="glyphicon glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                        <a href="/symptomes/<%= symptome._id %>/edit" class="btn btn-xs btn-warning">Mettre à jour<span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                        <p></p>
                    </li>
                    <% }); %>
                </ol>
            </div>
            <!-- Fin mise à jour-->
            <label for="name">Ajouter des symptômes existant</label>
            <br>
            <!-- Edition -->
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">Dérouler<span class="glyphicon glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
            </a>
            <br>
            <p></p>
            <div class="collapse" id="collapseExample2">
                <% let tab = []; %>
                <% campagne.symptomes.forEach(function(symp){ %>
                <% tab.push(symp._id.toString()); %>
                <% });%>

                <select class="select" multiple data-mdb-placeholder="Example placeholder"   name="symps" multiple>
                    <optgroup>
                        <% symptomes.forEach(function(symptome){ %>
                            <% if(tab.includes(symptome._id.toString())){ %>
                             <option value="<%=symptome._id%>" name="option" selected> Intitulé : (<%=symptome.name%>)</option>
                            <% }else{ %>
                             <option value="<%=symptome._id%>" name="option" > Intitulé : (<%=symptome.name%>)</option>
                            <% } %>

                        <% }); %>
                    </optgroup>
                </select>

            </div>
            <p></p>
            <label for="name">Symptôme non-existant ?, ajouter un nouveau symptôme</label>
            <p></p>
            <a href="/symptomes/new" class="btn btn-success"> Ajouter un nouveau symptôme <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span></a>
            <p></p>
            <div class="form-group">
                <button class="btn-lg btn-primary btn-block">Valider</button>
            </div>
        </form>
        <a href="/campagnes">Retour aux Analyses</a>
    </div>
</div>

<% include ../partials/footer %>
